# Francis Yang 10/5/22
## List Assignment
1. Write a code to compute the sum of the two lowest numbers and the two highest numbers in the following list.

``` my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66] ```

In [1]:
my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]
my_list.sort()
low_sum = my_list[0] + my_list[1]
high_sum = my_list[-1] + my_list[-2]
print(my_list)
print("Lowest sum:",low_sum,"Highest sum:",high_sum)

[2, 12, 34, 37, 45, 54, 56, 66, 67, 76, 98]
Lowest sum: 14 Highest sum: 174

2. The following two lists contain student names and scores. Write a code that gets the name from the user and prints the score of that student.

In [2]:
names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", 
         "Thomas", "Steven", "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda",
         "Donna", "Patricia", "Debra", "Eric"]
scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]

In [3]:
print(names)
name = input("Enter a name from list: ")
print(f"{name}'s score is {scores[names.index(name)]}")

['David', 'Michael', 'John', 'James', 'Greg', 'Mark', 'William', 'Richard', 'Thomas', 'Steven', 'Mary', 'Susan', 'Maria', 'Karen', 'Lisa', 'Linda', 'Donna', 'Patricia', 'Debra', 'Eric']
Enter a name from list: Michael
Michael's score is 87

3. By using the two lists above, what is the maximum score and how many students got that score?

In [4]:
import numpy as np
highscore = max(scores)
print(f"The maximum score is {highscore}")
np_scores = np.array(scores)
print(np_scores == highscore)

The maximum score is 99
[ True False False False False False False False False False False False
 False False False False False False False False]

Only 1 person got the highest score of 99.